header{
    background-color: black; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    border: 1px solid black;
    color: white;
    height: 150px;
}

header h1{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  background-color: #e0e0e0;
  padding: 40px;
  border-radius: 20px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatsapp-button {
  background: none;
  border: none;
  cursor: pointer;
}

.whatsapp-button img {
  width: 60px;
  height: 60px;
}

.contact-info {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-info b {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}